.App{
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    position: relative;
    top: 70px;
}
.sections > *{
    /* top: 70px; */
    position: relative;
    box-sizing: border-box;

}
@media (min-width: 600px){
    .sections > * {
        width: calc(100vw - 30vw);
        margin-left: 30vw;
    }
}
